<html>
    <body bgcolor = #ADD8E6>
        <center>
            <h2> FLOWER SPECIES DETECTION</h2><br>
            <form method = "POST", action = "predict">
                <div> <label for="slength">Sepal Length:</label> <input type = "text", name="slength", id = "slength", placeholder = "Enter float value", required> <br><br>
                    <label for="swidth">Sepal Width:</label>  <input type = "text", name="swidth", id = "swidth", placeholder = "Enter float value", required> <br><br>
                    <label for="plength">Petal Length:</label>  <input type = "text", name="plength", id = "plength", placeholder = "Enter float value", required> <br><br>
                    <label for="pwidth">Petal Width:</label>  <input type = "text", name="pwidth", id = "pwidth", placeholder = "Enter float value", required> <br><br><br></div>
                    <input type = "submit" value = 'Predict'>
            </form>
        </center>
    </body>
</html>