<html>
    <body bgcolor = #ADD8E6>
        <center>
            <h3> FLOWER SPECIES DETECTION </h3><br>
            <form method = "POST" action="{{url_for('signin')}}">
                <b>Username: <input type = "text", name = "Username", id = "Username", placeholder = "Enter UserId", required><br><br>
                Password: <input type = "password", name = "Password", id = "Password", placeholder = "Enter password", required><br><br></b>
                <input type = "submit" value = "Sign In">
            </form>

            <img src = 'static\images\setosa.jpg'>

        </center>
    </body>
</html>