<html>
    <body bgcolor = #ADD8E6>
        <center>
            <h2> Predicted Flower Species: </h2>

        {%if data[0] == "Iris-virginica"%}
        <h3> Iris-virginica </h3>
        <img src = 'static\images\virginica.jpg'>

        {%elif data[0] == "Iris-setosa"%}
        <h3> Iris-setosa </h3>
        <img src = 'static\images\setosa.jpg'>

        {%else%}
        <h3> Iris-versicolor </h3>
        <img src = 'static\images\versicolor.jpg'>

        {%endif%}

            <br><br>
        <a href = '/'>Go back to Home page</a>

        </center>
    </body>
</html>